In [2]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 35 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 44.7 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=3c4977672ff1ffb107412701aa07723d35e3ef5b01c98f0a5db48c642a2ea436
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [3]:
!pip install -q findspark

In [4]:
import findspark
findspark.init()

In [5]:
from pyspark import SparkContext

In [6]:
sc = SparkContext()

In [7]:
rdd = sc.textFile('/content/drive/MyDrive/Verisetleri/Mehmet_boy.csv')

In [8]:
from pyspark.sql import SparkSession

In [11]:
spark=SparkSession.builder.appName("dataframe").getOrCreate()

In [12]:
spark

veri okuma

In [13]:
dataframe=spark.read.option('header','true').csv('/content/drive/MyDrive/Verisetleri/Mehmet_boy.csv')

In [14]:
dataframe.show()

+----+--------------------+-----------------+-------------------+-----------------+-------------------+
|Rank|        Country_Name|Male_Height_in_Cm|Female_Height_in_Cm|Male_Height_in_Ft|Female_Height_in_Ft|
+----+--------------------+-----------------+-------------------+-----------------+-------------------+
|   1|         Netherlands|            18378|              17036|              603|                559|
|   2|          Montenegro|            18330|              16996|              601|                558|
|   3|             Estonia|            18279|              16866|              600|                553|
|   4|Bosnia and Herzeg...|            18247|              16747|              599|                549|
|   5|             Iceland|            18210|              16891|              597|                554|
|   6|             Denmark|            18189|              16947|              597|                556|
|   7|      Czech Republic|            18119|              16796|              594|                551|
|   8|              Latvia|            18117|              16881|              594|                554|
|   9|            Slovakia|            18102|              16712|              594|                548|
|  10|            Slovenia|            18098|              16720|              594|                549|
|  11|             Ukraine|            18098|              16662|              594|                547|
|  12|             Croatia|            18076|              16680|              593|                547|
|  13|              Serbia|            18074|              16829|              593|                552|
|  14|           Lithuania|            18072|              16763|              593|                550|
|  15|              Poland|            18069|              16578|              593|                544|
|  16|             Finland|            18057|              16648|              592|                546|
|  17|              Norway|            18048|              16645|              592|                546|
|  18|              Sweden|            18046|              16667|              592|                547|
|  19|             Germany|            18028|              16618|              591|                545|
|  20|            Dominica|            18015|              16689|              591|                548|
+----+--------------------+-----------------+-------------------+-----------------+-------------------+
only showing top 20 rows

In [ ]:
dataframe.printSchema()

root
 |-- Rank: string (nullable = true)
 |-- Country_Name: string (nullable = true)
 |-- Male_Height_in_Cm: string (nullable = true)
 |-- Female_Height_in_Cm: string (nullable = true)
 |-- Male_Height_in_Ft: string (nullable = true)
 |-- Female_Height_in_Ft: string (nullable = true)

bu kısımda veri setimizden girdigimiz kadar satır bilgisi alıyoruz

In [ ]:
dataframe.head(5)

[Row(Rank='1', Country_Name='Netherlands', Male_Height_in_Cm='18378', Female_Height_in_Cm='17036', Male_Height_in_Ft='603', Female_Height_in_Ft='559'),
 Row(Rank='2', Country_Name='Montenegro', Male_Height_in_Cm='18330', Female_Height_in_Cm='16996', Male_Height_in_Ft='601', Female_Height_in_Ft='558'),
 Row(Rank='3', Country_Name='Estonia', Male_Height_in_Cm='18279', Female_Height_in_Cm='16866', Male_Height_in_Ft='600', Female_Height_in_Ft='553'),
 Row(Rank='4', Country_Name='Bosnia and Herzegovina', Male_Height_in_Cm='18247', Female_Height_in_Cm='16747', Male_Height_in_Ft='599', Female_Height_in_Ft='549'),
 Row(Rank='5', Country_Name='Iceland', Male_Height_in_Cm='18210', Female_Height_in_Cm='16891', Male_Height_in_Ft='597', Female_Height_in_Ft='554')]

In [ ]:
dataframe.show()

+----+--------------------+-----------------+-------------------+-----------------+-------------------+
|Rank|        Country_Name|Male_Height_in_Cm|Female_Height_in_Cm|Male_Height_in_Ft|Female_Height_in_Ft|
+----+--------------------+-----------------+-------------------+-----------------+-------------------+
|   1|         Netherlands|            18378|              17036|              603|                559|
|   2|          Montenegro|            18330|              16996|              601|                558|
|   3|             Estonia|            18279|              16866|              600|                553|
|   4|Bosnia and Herzeg...|            18247|              16747|              599|                549|
|   5|             Iceland|            18210|              16891|              597|                554|
|   6|             Denmark|            18189|              16947|              597|                556|
|   7|      Czech Republic|            18119|              16796|              594|                551|
|   8|              Latvia|            18117|              16881|              594|                554|
|   9|            Slovakia|            18102|              16712|              594|                548|
|  10|            Slovenia|            18098|              16720|              594|                549|
|  11|             Ukraine|            18098|              16662|              594|                547|
|  12|             Croatia|            18076|              16680|              593|                547|
|  13|              Serbia|            18074|              16829|              593|                552|
|  14|           Lithuania|            18072|              16763|              593|                550|
|  15|              Poland|            18069|              16578|              593|                544|
|  16|             Finland|            18057|              16648|              592|                546|
|  17|              Norway|            18048|              16645|              592|                546|
|  18|              Sweden|            18046|              16667|              592|                547|
|  19|             Germany|            18028|              16618|              591|                545|
|  20|            Dominica|            18015|              16689|              591|                548|
+----+--------------------+-----------------+-------------------+-----------------+-------------------+
only showing top 20 rows

In [ ]:
dataframe.describe()

DataFrame[summary: string, Rank: string, Country_Name: string, Male_Height_in_Cm: string, Female_Height_in_Cm: string, Male_Height_in_Ft: string, Female_Height_in_Ft: string]

In [ ]:
dataframe.select('Country_Name').show()

+--------------------+
|        Country_Name|
+--------------------+
|         Netherlands|
|          Montenegro|
|             Estonia|
|Bosnia and Herzeg...|
|             Iceland|
|             Denmark|
|      Czech Republic|
|              Latvia|
|            Slovakia|
|            Slovenia|
|             Ukraine|
|             Croatia|
|              Serbia|
|           Lithuania|
|              Poland|
|             Finland|
|              Norway|
|              Sweden|
|             Germany|
|            Dominica|
+--------------------+
only showing top 20 rows

In [ ]:
dataframe.select(['Country_Name','Male_Height_in_Cm']).show()

+--------------------+-----------------+
|        Country_Name|Male_Height_in_Cm|
+--------------------+-----------------+
|         Netherlands|            18378|
|          Montenegro|            18330|
|             Estonia|            18279|
|Bosnia and Herzeg...|            18247|
|             Iceland|            18210|
|             Denmark|            18189|
|      Czech Republic|            18119|
|              Latvia|            18117|
|            Slovakia|            18102|
|            Slovenia|            18098|
|             Ukraine|            18098|
|             Croatia|            18076|
|              Serbia|            18074|
|           Lithuania|            18072|
|              Poland|            18069|
|             Finland|            18057|
|              Norway|            18048|
|              Sweden|            18046|
|             Germany|            18028|
|            Dominica|            18015|
+--------------------+-----------------+
only showing top 20 rows

In [ ]:
dataframe.dtypes

[('Rank', 'string'),
 ('Country Name', 'string'),
 ('Male Height in Cm', 'string'),
 ('Female Height in Cm', 'string'),
 ('Male Height in Ft', 'string'),
 ('Female Height in Ft', 'string')]

In [ ]:
dataframe.drop('Rank').show()

+--------------------+-----------------+-------------------+-----------------+-------------------+
|        Country_Name|Male_Height_in_Cm|Female_Height_in_Cm|Male_Height_in_Ft|Female_Height_in_Ft|
+--------------------+-----------------+-------------------+-----------------+-------------------+
|         Netherlands|            18378|              17036|              603|                559|
|          Montenegro|            18330|              16996|              601|                558|
|             Estonia|            18279|              16866|              600|                553|
|Bosnia and Herzeg...|            18247|              16747|              599|                549|
|             Iceland|            18210|              16891|              597|                554|
|             Denmark|            18189|              16947|              597|                556|
|      Czech Republic|            18119|              16796|              594|                551|
|              Latvia|            18117|              16881|              594|                554|
|            Slovakia|            18102|              16712|              594|                548|
|            Slovenia|            18098|              16720|              594|                549|
|             Ukraine|            18098|              16662|              594|                547|
|             Croatia|            18076|              16680|              593|                547|
|              Serbia|            18074|              16829|              593|                552|
|           Lithuania|            18072|              16763|              593|                550|
|              Poland|            18069|              16578|              593|                544|
|             Finland|            18057|              16648|              592|                546|
|              Norway|            18048|              16645|              592|                546|
|              Sweden|            18046|              16667|              592|                547|
|             Germany|            18028|              16618|              591|                545|
|            Dominica|            18015|              16689|              591|                548|
+--------------------+-----------------+-------------------+-----------------+-------------------+
only showing top 20 rows

In [ ]:
dataframe.na.drop().show()

+----+--------------------+-----------------+-------------------+-----------------+-------------------+
|Rank|        Country Name|Male Height in Cm|Female Height in Cm|Male Height in Ft|Female Height in Ft|
+----+--------------------+-----------------+-------------------+-----------------+-------------------+
|   1|         Netherlands|           183.78|             170.36|             6.03|               5.59|
|   2|          Montenegro|           183.30|             169.96|             6.01|               5.58|
|   3|             Estonia|           182.79|             168.66|             6.00|               5.53|
|   4|Bosnia and Herzeg...|           182.47|             167.47|             5.99|               5.49|
|   5|             Iceland|           182.10|             168.91|             5.97|               5.54|
|   6|             Denmark|           181.89|             169.47|             5.97|               5.56|
|   7|      Czech Republic|           181.19|             167.96|             5.94|               5.51|
|   8|              Latvia|           181.17|             168.81|             5.94|               5.54|
|   9|            Slovakia|           181.02|             167.12|             5.94|               5.48|
|  10|            Slovenia|           180.98|             167.20|             5.94|               5.49|
|  11|             Ukraine|           180.98|             166.62|             5.94|               5.47|
|  12|             Croatia|           180.76|             166.80|             5.93|               5.47|
|  13|              Serbia|           180.74|             168.29|             5.93|               5.52|
|  14|           Lithuania|           180.72|             167.63|             5.93|               5.50|
|  15|              Poland|           180.69|             165.78|             5.93|               5.44|
|  16|             Finland|           180.57|             166.48|             5.92|               5.46|
|  17|              Norway|           180.48|             166.45|             5.92|               5.46|
|  18|              Sweden|           180.46|             166.67|             5.92|               5.47|
|  19|             Germany|           180.28|             166.18|             5.91|               5.45|
|  20|            Dominica|           180.15|             166.89|             5.91|               5.48|
+----+--------------------+-----------------+-------------------+-----------------+-------------------+
only showing top 20 rows

####FİLTRELEME İŞLEMLERİ

In [ ]:
dataframe.filter("Rank<8").select(['Country_Name','Male_Height_in_Cm']).show()

+--------------------+-----------------+
|        Country_Name|Male_Height_in_Cm|
+--------------------+-----------------+
|         Netherlands|            18378|
|          Montenegro|            18330|
|             Estonia|            18279|
|Bosnia and Herzeg...|            18247|
|             Iceland|            18210|
|             Denmark|            18189|
|      Czech Republic|            18119|
+--------------------+-----------------+

In [ ]:
dataframe.filter("Male_Height_in_Cm <= 18247").show()

+----+--------------------+-----------------+-------------------+-----------------+-------------------+
|Rank|        Country_Name|Male_Height_in_Cm|Female_Height_in_Cm|Male_Height_in_Ft|Female_Height_in_Ft|
+----+--------------------+-----------------+-------------------+-----------------+-------------------+
|   4|Bosnia and Herzeg...|            18247|              16747|              599|                549|
|   5|             Iceland|            18210|              16891|              597|                554|
|   6|             Denmark|            18189|              16947|              597|                556|
|   7|      Czech Republic|            18119|              16796|              594|                551|
|   8|              Latvia|            18117|              16881|              594|                554|
|   9|            Slovakia|            18102|              16712|              594|                548|
|  10|            Slovenia|            18098|              16720|              594|                549|
|  11|             Ukraine|            18098|              16662|              594|                547|
|  12|             Croatia|            18076|              16680|              593|                547|
|  13|              Serbia|            18074|              16829|              593|                552|
|  14|           Lithuania|            18072|              16763|              593|                550|
|  15|              Poland|            18069|              16578|              593|                544|
|  16|             Finland|            18057|              16648|              592|                546|
|  17|              Norway|            18048|              16645|              592|                546|
|  18|              Sweden|            18046|              16667|              592|                547|
|  19|             Germany|            18028|              16618|              591|                545|
|  20|            Dominica|            18015|              16689|              591|                548|
|  21|             Bermuda|            17972|              16611|              590|                545|
|  22|         Puerto Rico|            17948|              16306|              589|                535|
|  23|              Greece|            17926|              16581|              588|                544|
+----+--------------------+-----------------+-------------------+-----------------+-------------------+
only showing top 20 rows

In [ ]:
dataframe.filter((dataframe['Rank'] < 20) &
                (dataframe['Rank'] > 3)).show()

+----+--------------------+-----------------+-------------------+-----------------+-------------------+
|Rank|        Country_Name|Male_Height_in_Cm|Female_Height_in_Cm|Male_Height_in_Ft|Female_Height_in_Ft|
+----+--------------------+-----------------+-------------------+-----------------+-------------------+
|   4|Bosnia and Herzeg...|            18247|              16747|              599|                549|
|   5|             Iceland|            18210|              16891|              597|                554|
|   6|             Denmark|            18189|              16947|              597|                556|
|   7|      Czech Republic|            18119|              16796|              594|                551|
|   8|              Latvia|            18117|              16881|              594|                554|
|   9|            Slovakia|            18102|              16712|              594|                548|
|  10|            Slovenia|            18098|              16720|              594|                549|
|  11|             Ukraine|            18098|              16662|              594|                547|
|  12|             Croatia|            18076|              16680|              593|                547|
|  13|              Serbia|            18074|              16829|              593|                552|
|  14|           Lithuania|            18072|              16763|              593|                550|
|  15|              Poland|            18069|              16578|              593|                544|
|  16|             Finland|            18057|              16648|              592|                546|
|  17|              Norway|            18048|              16645|              592|                546|
|  18|              Sweden|            18046|              16667|              592|                547|
|  19|             Germany|            18028|              16618|              591|                545|
+----+--------------------+-----------------+-------------------+-----------------+-------------------+

In [ ]:
dataframe.filter((dataframe['Rank'] < 20) |
                (dataframe['Rank'] > 3)).show()

+----+--------------------+-----------------+-------------------+-----------------+-------------------+
|Rank|        Country_Name|Male_Height_in_Cm|Female_Height_in_Cm|Male_Height_in_Ft|Female_Height_in_Ft|
+----+--------------------+-----------------+-------------------+-----------------+-------------------+
|   1|         Netherlands|            18378|              17036|              603|                559|
|   2|          Montenegro|            18330|              16996|              601|                558|
|   3|             Estonia|            18279|              16866|              600|                553|
|   4|Bosnia and Herzeg...|            18247|              16747|              599|                549|
|   5|             Iceland|            18210|              16891|              597|                554|
|   6|             Denmark|            18189|              16947|              597|                556|
|   7|      Czech Republic|            18119|              16796|              594|                551|
|   8|              Latvia|            18117|              16881|              594|                554|
|   9|            Slovakia|            18102|              16712|              594|                548|
|  10|            Slovenia|            18098|              16720|              594|                549|
|  11|             Ukraine|            18098|              16662|              594|                547|
|  12|             Croatia|            18076|              16680|              593|                547|
|  13|              Serbia|            18074|              16829|              593|                552|
|  14|           Lithuania|            18072|              16763|              593|                550|
|  15|              Poland|            18069|              16578|              593|                544|
|  16|             Finland|            18057|              16648|              592|                546|
|  17|              Norway|            18048|              16645|              592|                546|
|  18|              Sweden|            18046|              16667|              592|                547|
|  19|             Germany|            18028|              16618|              591|                545|
|  20|            Dominica|            18015|              16689|              591|                548|
+----+--------------------+-----------------+-------------------+-----------------+-------------------+
only showing top 20 rows

In [ ]:
dataframe.printSchema()

root
 |-- Rank: string (nullable = true)
 |-- Country_Name: string (nullable = true)
 |-- Male_Height_in_Cm: string (nullable = true)
 |-- Female_Height_in_Cm: string (nullable = true)
 |-- Male_Height_in_Ft: string (nullable = true)
 |-- Female_Height_in_Ft: string (nullable = true)

In [33]:
dataframe.groupBy('Male_Height_in_Ft').max().show()

+-----------------+
|Male_Height_in_Ft|
+-----------------+
|              591|
|              574|
|              581|
|              577|
|              544|
|              543|
|              586|
|              534|
|              559|
|              570|
|              539|
|              597|
|              556|
|              594|
|              568|
|              565|
|              554|
|              560|
|              573|
|              601|
+-----------------+
only showing top 20 rows

In [34]:
dataframe.groupBy('Male_Height_in_Ft').avg().show()

+-----------------+
|Male_Height_in_Ft|
+-----------------+
|              591|
|              574|
|              581|
|              577|
|              544|
|              543|
|              586|
|              534|
|              559|
|              570|
|              539|
|              597|
|              556|
|              594|
|              568|
|              565|
|              554|
|              560|
|              573|
|              601|
+-----------------+
only showing top 20 rows

In [26]:
dataframe.groupBy('Male_Height_in_Ft').count().show()

+-----------------+-----+
|Male_Height_in_Ft|count|
+-----------------+-----+
|              591|    2|
|              574|    6|
|              581|    5|
|              577|    4|
|              544|    1|
|              543|    2|
|              586|    7|
|              534|    1|
|              559|    7|
|              570|    5|
|              539|    4|
|              597|    2|
|              556|    4|
|              594|    5|
|              568|    3|
|              565|    5|
|              554|    4|
|              560|    8|
|              573|    5|
|              601|    1|
+-----------------+-----+
only showing top 20 rows

In [32]:
dataframe.groupBy('Rank').sum().show()

+----+
|Rank|
+----+
| 125|
|   7|
|  51|
| 124|
| 169|
|  15|
|  54|
| 155|
| 132|
| 154|
|  11|
| 101|
| 138|
|  29|
|  69|
|  42|
| 112|
|  73|
|  87|
|  64|
+----+
only showing top 20 rows

In [30]:
dataframe.groupBy('Male_Height_in_Ft').mean().show()

+-----------------+
|Male_Height_in_Ft|
+-----------------+
|              591|
|              574|
|              581|
|              577|
|              544|
|              543|
|              586|
|              534|
|              559|
|              570|
|              539|
|              597|
|              556|
|              594|
|              568|
|              565|
|              554|
|              560|
|              573|
|              601|
+-----------------+
only showing top 20 rows

In [ ]:
dataframe.groupBy('Female_Height_in_Ft').min().show()

In [38]:
from pyspark.ml.feature import StringIndexer

In [ ]:
indexer=StringIndexer(inputCols=['Rank','Country_Name','Male_Height_in_Cm','Female_Height_in_Cm','Male_Height_in_Ft','Female_Height_in_Ft'],
                      outputCols=['rank','countryname','maleheightincm','femaleheightincm','maleheightinft','femaleheightinft'])
df_r=indexer.fit(dataframe).transform(dataframe)

In [ ]:
dataframe.show()

+----+--------------------+-----------------+-------------------+-----------------+-------------------+
|Rank|        Country_Name|Male_Height_in_Cm|Female_Height_in_Cm|Male_Height_in_Ft|Female_Height_in_Ft|
+----+--------------------+-----------------+-------------------+-----------------+-------------------+
|   1|         Netherlands|            18378|              17036|              603|                559|
|   2|          Montenegro|            18330|              16996|              601|                558|
|   3|             Estonia|            18279|              16866|              600|                553|
|   4|Bosnia and Herzeg...|            18247|              16747|              599|                549|
|   5|             Iceland|            18210|              16891|              597|                554|
|   6|             Denmark|            18189|              16947|              597|                556|
|   7|      Czech Republic|            18119|              16796|              594|                551|
|   8|              Latvia|            18117|              16881|              594|                554|
|   9|            Slovakia|            18102|              16712|              594|                548|
|  10|            Slovenia|            18098|              16720|              594|                549|
|  11|             Ukraine|            18098|              16662|              594|                547|
|  12|             Croatia|            18076|              16680|              593|                547|
|  13|              Serbia|            18074|              16829|              593|                552|
|  14|           Lithuania|            18072|              16763|              593|                550|
|  15|              Poland|            18069|              16578|              593|                544|
|  16|             Finland|            18057|              16648|              592|                546|
|  17|              Norway|            18048|              16645|              592|                546|
|  18|              Sweden|            18046|              16667|              592|                547|
|  19|             Germany|            18028|              16618|              591|                545|
|  20|            Dominica|            18015|              16689|              591|                548|
+----+--------------------+-----------------+-------------------+-----------------+-------------------+
only showing top 20 rows

In [42]:
dataframe.columns

['Rank',
 'Country_Name',
 'Male_Height_in_Cm',
 'Female_Height_in_Cm',
 'Male_Height_in_Ft',
 'Female_Height_in_Ft']

In [ ]:
dataframe.printSchema()

root
 |-- Rank: string (nullable = true)
 |-- Country_Name: string (nullable = true)
 |-- Male_Height_in_Cm: string (nullable = true)
 |-- Female_Height_in_Cm: string (nullable = true)
 |-- Male_Height_in_Ft: string (nullable = true)
 |-- Female_Height_in_Ft: string (nullable = true)

In [44]:
from pyspark.sql.types import IntegerType

In [50]:
from pyspark.sql.dataframe import DataFrame
data = dataframe.withColumn("Rank", dataframe["Rank"].cast(IntegerType()))
data = data.withColumn("Male_Height_in_Cm", data["Male_Height_in_Cm"].cast(IntegerType()))
data = data.withColumn("Female_Height_in_Cm", data["Female_Height_in_Cm"].cast(IntegerType()))
data = data.withColumn("Female_Height_in_Ft", data["Female_Height_in_Ft"].cast(IntegerType()))

In [51]:
data.show()

+----+--------------------+-----------------+-------------------+-----------------+-------------------+
|Rank|        Country_Name|Male_Height_in_Cm|Female_Height_in_Cm|Male_Height_in_Ft|Female_Height_in_Ft|
+----+--------------------+-----------------+-------------------+-----------------+-------------------+
|   1|         Netherlands|            18378|              17036|              603|                559|
|   2|          Montenegro|            18330|              16996|              601|                558|
|   3|             Estonia|            18279|              16866|              600|                553|
|   4|Bosnia and Herzeg...|            18247|              16747|              599|                549|
|   5|             Iceland|            18210|              16891|              597|                554|
|   6|             Denmark|            18189|              16947|              597|                556|
|   7|      Czech Republic|            18119|              16796|              594|                551|
|   8|              Latvia|            18117|              16881|              594|                554|
|   9|            Slovakia|            18102|              16712|              594|                548|
|  10|            Slovenia|            18098|              16720|              594|                549|
|  11|             Ukraine|            18098|              16662|              594|                547|
|  12|             Croatia|            18076|              16680|              593|                547|
|  13|              Serbia|            18074|              16829|              593|                552|
|  14|           Lithuania|            18072|              16763|              593|                550|
|  15|              Poland|            18069|              16578|              593|                544|
|  16|             Finland|            18057|              16648|              592|                546|
|  17|              Norway|            18048|              16645|              592|                546|
|  18|              Sweden|            18046|              16667|              592|                547|
|  19|             Germany|            18028|              16618|              591|                545|
|  20|            Dominica|            18015|              16689|              591|                548|
+----+--------------------+-----------------+-------------------+-----------------+-------------------+
only showing top 20 rows

In [45]:
data.printSchema()

root
 |-- Rank: integer (nullable = true)
 |-- Country_Name: string (nullable = true)
 |-- Male_Height_in_Cm: integer (nullable = true)
 |-- Female_Height_in_Cm: integer (nullable = true)
 |-- Male_Height_in_Ft: string (nullable = true)
 |-- Female_Height_in_Ft: integer (nullable = true)

In [52]:
drop_columns=['Country_Name']
data=data.drop(*drop_columns)

In [47]:
data.show()

+----+-----------------+-------------------+-----------------+-------------------+
|Rank|Male_Height_in_Cm|Female_Height_in_Cm|Male_Height_in_Ft|Female_Height_in_Ft|
+----+-----------------+-------------------+-----------------+-------------------+
|   1|            18378|              17036|              603|                559|
|   2|            18330|              16996|              601|                558|
|   3|            18279|              16866|              600|                553|
|   4|            18247|              16747|              599|                549|
|   5|            18210|              16891|              597|                554|
|   6|            18189|              16947|              597|                556|
|   7|            18119|              16796|              594|                551|
|   8|            18117|              16881|              594|                554|
|   9|            18102|              16712|              594|                548|
|  10|            18098|              16720|              594|                549|
|  11|            18098|              16662|              594|                547|
|  12|            18076|              16680|              593|                547|
|  13|            18074|              16829|              593|                552|
|  14|            18072|              16763|              593|                550|
|  15|            18069|              16578|              593|                544|
|  16|            18057|              16648|              592|                546|
|  17|            18048|              16645|              592|                546|
|  18|            18046|              16667|              592|                547|
|  19|            18028|              16618|              591|                545|
|  20|            18015|              16689|              591|                548|
+----+-----------------+-------------------+-----------------+-------------------+
only showing top 20 rows

In [48]:
spark=SparkSession.builder.getOrCreate()

In [49]:
df=spark.read.csv('/content/drive/MyDrive/Verisetleri/Mehmet_boy.csv',inferSchema=True,header=True)

In [ ]:
df.show()

+----+--------------------+-----------------+-------------------+-----------------+-------------------+
|Rank|        Country_Name|Male_Height_in_Cm|Female_Height_in_Cm|Male_Height_in_Ft|Female_Height_in_Ft|
+----+--------------------+-----------------+-------------------+-----------------+-------------------+
|   1|         Netherlands|            18378|              17036|              603|                559|
|   2|          Montenegro|            18330|              16996|              601|                558|
|   3|             Estonia|            18279|              16866|              600|                553|
|   4|Bosnia and Herzeg...|            18247|              16747|              599|                549|
|   5|             Iceland|            18210|              16891|              597|                554|
|   6|             Denmark|            18189|              16947|              597|                556|
|   7|      Czech Republic|            18119|              16796|              594|                551|
|   8|              Latvia|            18117|              16881|              594|                554|
|   9|            Slovakia|            18102|              16712|              594|                548|
|  10|            Slovenia|            18098|              16720|              594|                549|
|  11|             Ukraine|            18098|              16662|              594|                547|
|  12|             Croatia|            18076|              16680|              593|                547|
|  13|              Serbia|            18074|              16829|              593|                552|
|  14|           Lithuania|            18072|              16763|              593|                550|
|  15|              Poland|            18069|              16578|              593|                544|
|  16|             Finland|            18057|              16648|              592|                546|
|  17|              Norway|            18048|              16645|              592|                546|
|  18|              Sweden|            18046|              16667|              592|                547|
|  19|             Germany|            18028|              16618|              591|                545|
|  20|            Dominica|            18015|              16689|              591|                548|
+----+--------------------+-----------------+-------------------+-----------------+-------------------+
only showing top 20 rows